*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #fafafa;
    --dark: #303030;
    --soft-light: #c8cfd9;
    --soft-dark: #2d3748;
    --clr-p: #a78bfa;
    --clr--p-light: #c4b5fd;
    --clr--p-dark: #8b5cf6;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.btn {
    padding: 0.5rem 1rem;
    background: transparent;
    font-size: 14px;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid transparent;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s;
    outline: 2px solid transparent;
    outline-offset: 0;
}

.btn:focus {
    outline: 1px solid var(--clr-p);
    outline-offset: -1px;
}

/* Primary Gradient Button */

.btn-p {
    background: linear-gradient(to bottom right, var(--clr-p), var(--clr--p-dark));
}

.btn-p:hover {
    background: linear-gradient(to bottom right, var(--clr-p), var(--clr--p-light));
    color: var(--soft-dark);
    outline-offset: 1px;
}

/* Solid Button */
.btn-solid {
    background-color: var(--soft-dark);
    color: var(--soft-light);
}

.btn-solid:hover {
    background-color: var(--soft-light);
    color: var(--dark);
}

/* Soft Button */
.btn-soft {
    background-color: var(--soft-light);
}

.btn-soft:hover {
    background-color: var(--light);
}

/* Outline Button */
.btn-outline {
    background: transparent;
    outline: 1px solid var(--soft-light);
    outline-offset: -1px;
}

.btn-outline:hover {
    background-color: var(--soft-light);
}

/* Ghost Button */
.btn-ghost {
    background-color: transparent;
}

.btn-ghost:hover {
    background-color: var(--soft-light);
}

/* Link Button */
.btn-link {
    color: var(--clr-p);
}

.btn-link:hover {
    color: var(--clr--p-dark);
    text-decoration: underline;
}

/* Ghost Link Button */
.btn-ghost-link {
    background: transparent;
}

.btn-ghost-link:hover {
    color: var(--clr--p-dark);
    background-color: #f8fafc;
}

/* Add any additional styles or resets as needed */